# Silence all C/C++ warnings in external code.
common --per_file_copt=external/.*@-w
common --host_per_file_copt=external/.*@-w

# Produce useful output when the build fails.
common --verbose_failures

# Silence warnings about old bazel_dep pins. Bazel 8 brings along newer ones,
# but we can support Bazel 7 (for now).
common --check_direct_dependencies=off
